/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-11-2017, 10:48:53
    Author     : thoma
*/


/* These classes are the "tabs" on the employeepage that are hidden. Used in empfaderjs.js" */
.tab1-c , .tab2-c, .tab3-c, .tab4-c{display:none;}

* {
    padding: 0;
    margin: 0;
}

body {
    
}

*:focus {outline: none}

.navbar-brand {
    padding: 15px 0px !important;
    text-transform: uppercase;
}

.fogNavbar {
    
    background-color: transparent !important;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;

    position: relative;
    min-height: 50px;
}

.active-blue {
    background-color: #2e70db !important;
    color: #fff !important;
}

#allUsersDiv {
    width: fit-content;
}

#allUsersDiv ul {
    list-style: none;
    margin: 0 0 0 10px;
    padding: 0;
}

#allUsersDiv button {
    background-color: #ececec;
    cursor: pointer;
    text-align: left;
    padding: 10px;
    border:none;
    transition: background-color 0.5s ease;

    width: 300px;
    border-radius: 10px;
    border: 2px solid black;
}

#allUsersDiv button:hover {
    background-color: #c7c7c7;
    transition: background-color 0.5s ease;
}

#allUsersDiv button p {
    padding: 0;
    margin: 0;
    text-align: left;
}

h4 {
    font-weight: 100;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

h5 {
    font-weight: bold;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.navigationBar {
    margin: 20px 0px 20px 0px;
}

.navigationBar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigationBar li {
    display: inline-block;
    padding: 10px 20px 10px 20px;
    margin: 0px 10px 0px 10px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.navigationBar li:hover {
    background-color: #ececec;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}

.loginRegisterBox {
    width: 400px;
    background-color: lightgray;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

#errorMessage {
    width: 400px;
    display: block;
    margin: 0 auto;
}




.loginRegisterButton {
    background-color: #2e70db;
    color: white;
    text-transform: uppercase;
    font-weight: bold !important;
    font-size: 16px !important;
    border-radius: 0 !important;
    transition: background-color 0.2s ease;
}
.loginRegisterButton {
    outline: none;
}
.loginRegisterButton:hover {
    background-color: #255fbc !important;
    transition: background-color 0.2s ease;
    color: lightgray !important;
}

.loginRegisterContainer {
    padding: 15px;
    border-left: 2px solid #2e70db;
    border-bottom: 2px solid #2e70db;
    border-right: 2px solid #2e70db;
    height: auto;
    transition: 0.3s ease;
}

.tabNavButton {
    cursor: pointer;
}


.br-1-w {
    border-right: 1px solid rgba(22, 58, 117,0.2) !important;
}

.bl-1-w {
    border-left: 1px solid rgba(22, 58, 117,0.2) !important;
}
